.container{
    max-width:1024px;
}

header{
    width:100%;
    height:100px;
}
main{
    width:100%;
    height:548px;
    padding:3px;
    display:flex;
    flex-wrap:wrap;
}

footer{
    width: 100%;
    height: 120px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
}
.cursor-pointer{
    cursor: pointer;
}